



body {
    margin-left: 200px;
    background-color: black;
    color: white;
}


.container {
    display: flex;
    /* margin: 50px; */
}


.grid {

    width: 200px;
    height: 400px;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
}

.grid div{
    height: 20px;
    width: 20px;
    /* background-color: red; */
}

.tetromino {
    background-color:blue;
}

.mini-grid div{

    width: 20px;
}

.mini-grid {
    margin-left: 50px;
    width: 20px;
    height: 20px;

   
}

.mini-grid {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    width: 80px;
    background-color: yellow;
}
